<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsh.birthdayadmin.mapper.CommonMapper">

    <!-- 查找信息 -->
    <select id="getByEnabled" resultType="com.lsh.birthdayadmin.entry.Common" parameterType="com.lsh.birthdayadmin.entry.Common">
        select * from common where co_key = #{coKey} and co_enabled = #{coEnabled}
    </select>
    
    <update id="updateById" parameterType="com.lsh.birthdayadmin.entry.Common">
        update common set co_enabled = #{coEnabled} where co_id = #{coId}
    </update>
    
    <update id="updateByKey" parameterType="com.lsh.birthdayadmin.entry.Common">
        update common set co_enabled = #{coEnabled} where co_key = #{coKey}
    </update>
    
</mapper>